* {
    box-sizing: border-box; /*Lai paddingi un borderi iekļautos ikviena elementa izmēros*/
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.middle-title {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 122.222%;
}

.middle-title--small {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 128.571%;
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
}

.header {
    background: #F5F7FA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    max-height: 84px;
    padding-top: 20px;
}

.header__logo {
    display: flex;
    align-items: center;
}

a:link{
    text-decoration: none!important;
}

.header__menu-list {
    display: flex;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 0;
}

.header__menu-item {
    color: #18191F;
    line-height: 150%;
}

.header__menu-item--bold {
    font-weight: 500;
}

.header__login {
    display: flex;   
    gap: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.857%;
}

.button {
    cursor: pointer;
    transition: opacity 0.3s;
    text-align: center;
    background: #4CAF4F;
    color: #FFF;
    border: none;
    font-weight: 500;
    padding: 14px 32px;
    border-radius: 4px;
    width: 100%;
    max-width: 159px;
}

.button:hover {
    opacity: 0.7;
}

.header__login-grey {
    background: #F5F7FA;
    color: #4CAF4F;
    padding: 10px 20px;
    border-radius: 6px;
}

.header__sign-in-green {
    padding: 10px 20px;
    border-radius: 6px;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home__hero {
    background: #F5F7FA;
    height: auto 407px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 96px 144px;
    gap: 104px;
    width: 100%;
}

.hero__frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bicolor {
    font-size: 64px;
    font-weight: 600;
    line-height: 118.75%;
}

.bicolor-title {
    color: #4D4D4D;
}

.bicolor-title--green {
    color: #4CAF4F;
}

.hero__image {
    aspect-ratio: 391 / 407;
    width: 100%;
    max-width: 391px;
}

.home__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: -58px;
}

.home__clients {
    text-align: center;
}

.clients-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home__comunity {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    margin-bottom: 42px;
}

.comunity__text {
    width: 100%;
    max-width: 542px;
}

.comunity__frame {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 114px;
    width: 100%
}

.comunity__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 299px;
    padding: 24px 32px;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.comunity__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 267px;
    gap: 16px;
}

.comunity__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-part {
    display: inline-flex;
    gap: 48px;
    flex-direction: column;
    align-items: center;
}

.sub-section-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 144px;
    width: 100%;
}

.image-box {
    display: flex;
    width: 100%;
    max-width: 442px;
    height: 100%;
    max-height: 433px;
    padding: 52px 0.467px 52.005px 0px;
    justify-content: center;
    align-items: center;
}

.sub-section__image {
    aspect-ratio: 441.533 / 328.995;
    width: 100%;
    max-width: 441.533;
}

.text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
}

.inner-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 601px;
    gap: 16px;
}

.body-part__achievements {
    padding: 64px 144px;
    width: 100%;
    background: #F5F7FA;
}

.achievements__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bicolor--small {
    font-size: 36px;
    font-weight: 600;
    line-height: 122.222%;
}

.achievements__counts {
    display: flex;
    
    flex-direction: column;
    gap: 40px;
}

.counts__row {
    display: flex;
    gap: 30px;
}

.row__detailed {
    display: flex;
    gap: 16px;
}

.detailed__details {
    display: flex;
    flex-direction: column;
}

.body-part__customers.sub-section-box {
    background: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 144px;
    gap:78px
}

.customers-image{
    aspect-ratio: 326 / 326;
    width: 100%;
    max-width: 326px;
}

.customers.inner-text-box {
    width: 100%;
    max-width: 748px;
    text-align: justify;
    font-weight: 500;
    
}

.nd-inner-text-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-box_title{
    color:#4CAF4F;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.customers_frame14 {
    display:flex;
    gap: 32px;
}

.customers_frame10 {
    display:flex;
    align-items: center;
    gap: 41px;
    flex: 1 0 0;
}

.customers_frame13 {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
}

.customers_frame_logo01 {
    aspect-ratio: 40 / 40;
    width: 100%;
}

.customers_frame_logo02 {
    aspect-ratio: 40 / 28;
}

.customers_frame_logo03 {
    aspect-ratio: 55 / 30;
}

.customers_frame_logo04 {
    aspect-ratio: 47 / 29;
}

.customers_frame_logo05 {
    aspect-ratio: 41 / 27;
}

.customers_frame_logo06 {
    aspect-ratio: 52 / 20;
    width: 100%;
}