* {
    box-sizing: border-box; /*Lai paddingi un borderi iekļautos ikviena elementa izmēros*/
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.sub-section-title {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 122.222%;
}

.sub-section-title--small {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 128.571%;
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
}

.header {
    background: #F5F7FA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    max-height: 84px;
    padding-top: 20px;
}

.header__logo {
    display: flex;
    align-items: center;
}

a:link{
    text-decoration: none!important;
}

.header__menu-list {
    display: flex;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 0;
}

.header__menu-item {
    color: #18191F;
    line-height: 150%;
}

.header__menu-item--bold {
    font-weight: 500;
}

.header__login {
    display: flex;   
    gap: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.857%;
}

.button {
    cursor: pointer;
    transition: opacity 0.3s;
    text-align: center;
    background: #4CAF4F;
    color: #FFF;
    border: none;
    font-weight: 500;
    padding: 14px 32px;
    border-radius: 4px;
}

.button:hover {
    opacity: 0.7;
}

.header__login-grey {
    background: #F5F7FA;
    color: #4CAF4F;
    padding: 10px 20px;
    border-radius: 6px;
}

.header__sign-in-green {
    padding: 10px 20px;
    border-radius: 6px;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home__hero {
    background: #F5F7FA;
    width: auto 1152px;
    height: auto 407px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 96px 144px;
    gap: 104px;
}

.hero__frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__h {
    width: 100%;
    max-width: 657px;
    height: 100%;
    max-height: 152px;
    font-size: 64px;
    font-weight: 600;
    line-height: 118.75%;
}

.hero__title {
    color: #4D4D4D;
}

.hero__title--green {
    color: #4CAF4F;
}

.hero__image {
    aspect-ratio: 391 / 407;
    width: 100%;
    max-width: 391px;
    
}

.home__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: -58px;
}

.home__clients {
    text-align: center;
}

.clients-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home__comunity {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.comunity__frame {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 0 114px;
}

.comunity__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 299px;
    padding: 24px 32px;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.comunity__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 267px;
    gap: 16px;
}

.comunity__image {    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
